<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjetNet.Properties.Settings.DotNetDBConnectionString"
            connectionString="Data Source=ingefin.ensimag.fr;Initial Catalog=DotNetDB;User ID=etudiant;Password=edn!2015"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="defaultLineNb" value="18" />
      <add key="defaultColNb" value="23" />
    </appSettings>
</configuration>