<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net461" />
  <package id="Baseclass.Contrib.Nuget.Output" version="2.3.0" targetFramework="net461" />
  <package id="CsvHelper" version="2.16.3.0" targetFramework="net461" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net461" />
  <package id="PricingLibrary" version="1.0.1.3" targetFramework="net461" />
  <package id="Prism.Core" version="7.0.0.396" targetFramework="net461" />
</packages>